@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); /* Importa a fonte Quicksand do Google Fonts */

* {
    box-sizing: border-box; /* Garante que padding e border sejam incluídos no tamanho total do elemento */
}

:root {
    --primary-color: #8ba8a4; /* Define a cor primária (azul claro) para uso em todo o site */
    --secondary-color: #c3eb34; /* Define a cor secundária (cinza claro) para textos e elementos */
    --tertiary-color: #6ac267; /* Define a cor terciária (cinza médio) para detalhes e placeholders */
    --bg-color: #4d2c30; /* Define a cor de fundo principal (cinza escuro) */
}

body {
    margin: 0; /* Remove todas as margens externas padrão do corpo da página */
    background: var(--bg-color); /* Aplica a cor de fundo principal definida na variável --bg-color */
    color: var(--secondary-color); /* Define a cor padrão do texto usando a variável --secondary-color */
    font-family: "Roboto", sans-serif; /* Define a fonte Quicksand como a principal, com uma fonte sans-serif como alternativa */
}

header {
    padding: 2rem 1rem; /* Define espaçamento interno de 2rem (topo/baixo) e 1rem (esquerda/direita) */
    display: flex; /* Ativa o modo de layout flexbox para alinhar os itens */
    align-items: center; /* Centraliza verticalmente os itens dentro do cabeçalho */
    justify-content: space-around; /* Distribui os itens horizontalmente com espaço igual ao redor deles */
    position: sticky; /* Faz o cabeçalho permanecer fixo no topo da página ao rolar */
    top: 0; /* Define a posição do cabeçalho no topo da viewport quando 'sticky' */
    background: var(--bg-color); /* Aplica a cor de fundo principal ao cabeçalho */
    z-index: 10; /* Garante que o cabeçalho fique acima de outros elementos na página */
    border-bottom: 1px solid var(--bg-color); /* Adiciona uma borda sutil na parte inferior do cabeçalho */
    gap: 1rem; /* Cria um espaçamento de 1rem entre os elementos flex no cabeçalho */
}

header h1 {
    font-size: 1.5rem; /* Define o tamanho da fonte do título principal */
    margin: 0; /* Remove qualquer margem externa do título */
    font-weight: 500; /* Define o peso da fonte como médio (semi-negrito) */
    white-space: nowrap; /* Impede que o texto do título seja quebrado em várias linhas */
}

div input {
    padding: 0.375rem 0.75rem; /* Espaçamento interno */
    border-radius: 1rem; /* Arredonda as bordas */
    border: 1px solid var(--tertiary-color); /* Define a borda */
    background: var(--bg-color); /* Cor de fundo */
    font-family: inherit; /* Herda a família da fonte do elemento pai */
    font-size: 1.5rem; /* Tamanho da fonte */
    transition: all 0.2s ease; /* Adiciona uma transição suave para todas as propriedades */
    width: 30rem; /* Largura do input */
    color: var(--secondary-color); /* Cor do texto digitado */
    margin-right: .5rem; /* Margem à direita */
}

div input::placeholder {
    font-size: 1.2rem; /* Tamanho da fonte do placeholder */
    font-weight: 300; /* Peso da fonte do placeholder */
    color: var(--tertiary-color); /* Cor do texto do placeholder */
}

div input:focus {
    outline: none; /* Remove a borda de foco padrão */
    border-color: var(--bg-color); /* Muda a cor da borda ao focar */
    box-shadow: 0 0 0 0.1rem var(--tertiary-color); /* Adiciona uma sombra de caixa para indicar foco */
}

#botao-busca {
    padding: 1rem 2rem; /* Espaçamento interno */
    border-radius: 1rem; /* Arredonda as bordas */
    border: none; /* Remove a borda padrão */
    cursor: pointer; /* Muda o cursor para uma mão ao passar por cima */
    font-family: inherit; /* Herda a família da fonte */
    font-weight: 500; /* Peso da fonte */
    font-size: 1rem; /* Tamanho da fonte */
    white-space: nowrap; /* Impede a quebra de linha do texto */
    transition: background-color 0.2s ease, color 0.2s ease; /* Transição suave para cor de fundo e cor do texto */
    background-color: var(--bg-color); /* Cor de fundo */
    color: var(--secondary-color); /* Cor do texto */
    border: 1px solid var(--bg-color); /* Adiciona uma borda */
}

#botao-busca:hover {
    background-color: var(--primary-color); /* Muda a cor de fundo ao passar o mouse */
    color: var(--bg-color); /* Muda a cor do texto ao passar o mouse */
    box-shadow: 0 0 0 0.1rem var(--primary-color); /* Adiciona uma sombra de caixa */
}

#botao-busca:active {
    transform: scale(0.98); /* Efeito de clique (diminui o tamanho) */
}

main {
    overflow-y: scroll; /* Adiciona uma barra de rolagem vertical se o conteúdo exceder a altura */
    max-width: 80rem; /* Largura máxima do conteúdo principal */
    margin: 0 auto; /* Centraliza o conteúdo principal horizontalmente */
    margin-top: 2rem; /* Margem no topo */
    height: calc(100vh - 10rem - 4rem); /* Calcula a altura para preencher o espaço restante da tela */
}

article {
    background: none; /* Define o fundo como transparente */
    border-radius: 0; /* Remove o arredondamento das bordas */
    padding: 0 1rem; /* Define espaçamento interno de 0 para topo/baixo e 1rem para esquerda/direita */
    margin-bottom: 1.25rem; /* Adiciona uma margem na parte inferior do artigo */
    box-shadow: none; /* Remove qualquer sombra projetada pelo elemento */
    transition: background-color 0.3s ease, border-bottom-color 0.3s ease; /* Adiciona uma transição suave para a cor de fundo e a cor da borda inferior */
    border-bottom: 1px solid var(--bg-color); /* Adiciona uma linha de borda na parte inferior do artigo */
    padding-bottom: 1.5rem; /* Adiciona um espaçamento interno na parte inferior do artigo */
}

article:hover {
    transform: scale(1.01); /* Aumenta ligeiramente o tamanho ao passar o mouse */
    cursor: pointer; /* Muda o cursor para uma mão */
}

article h2 {
    margin-top: 0; /* Remove a margem superior */
    font-weight: 600; /* Peso da fonte */
    font-size: 1.6rem; /* Tamanho da fonte */
    border-bottom: none; /* Sem borda inferior */
    padding-bottom: 0; /* Sem espaçamento interno inferior */
    margin-bottom: 0.25rem; /* Margem inferior */
    color: var(--primary-color); /* Cor do texto */
}

article p {
    margin: 0.5rem 0; /* Margem superior e inferior */
    line-height: 1.6; /* Altura da linha para melhor legibilidade */
    font-size: 1rem; /* Tamanho da fonte */
    margin-bottom: 0.5rem; /* Margem inferior */
    color: var(--secondary-color); /* Cor do texto */
}

article p strong {
    color: var(--tertiary-color); /* Cor do texto em negrito */
    font-weight: 400; /* Peso da fonte */
}

article a {
    color: var(--primary-color); /* Cor do link */
    text-decoration: none; /* Remove o sublinhado padrão */
    font-weight: 200; /* Peso da fonte */
}

article a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

.footer {
    position: absolute; /* Posicionamento absoluto em relação ao elemento pai posicionado */
    bottom: 0; /* Alinha na parte inferior */
    left: 0; /* Alinha à esquerda */
    width: 100%; /* Largura total */
    color: var(--tertiary-color); /* Cor do texto */
    background-color: var(--bg-color); /* Cor de fundo */
    padding: 15px 20px; /* Espaçamento interno */
    border-top: 1px solid #3c4043; /* Borda superior */
    font-size: 0.8rem; /* Tamanho da fonte */
}

.footer-location {
    color: #9aa0a6; /* Cor do texto */
    margin-bottom: 10px; /* Margem inferior */
}

.footer-links {
    list-style: none; /* Remove os marcadores da lista */
    display: flex; /* Habilita o layout flexbox */
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
    justify-content: center; /* Centraliza os itens horizontalmente */
    gap: 15px; /* Espaçamento entre os links */
}

.footer-links a {
    color: var(--secondary-color); /* Cor do link */
    text-decoration: none; /* Remove o sublinhado */
    transition: color 0.2s; /* Transição suave para a cor */
}

.footer-links a:hover {
    color: var(--accent-color); /* Muda a cor do link ao passar o mouse (variável não definida) */
}

@media (max-width: 768px) {
    header { /* Estilos para telas com largura máxima de 768px */
        flex-direction: column; /* Organiza os itens do cabeçalho em coluna */
        padding: 1rem; /* Reduz o espaçamento interno */
    }

    header h1 { /* Estilos para o h1 no cabeçalho em telas menores */
        text-align: center; /* Centraliza o texto */
        margin-bottom: 1rem; /* Adiciona margem inferior */
    }

    div input { /* Estilos para o input em telas menores */
        width: 90vw; /* Largura baseada na largura da viewport */
        font-size: 1.2rem; /* Reduz o tamanho da fonte */
    }

    main { /* Estilos para o main em telas menores */
        padding: 0 1rem; /* Adiciona espaçamento lateral */
    }

    article:hover { /* Estilos para o article em telas menores */
        transform: none; /* Remove o efeito de escala ao passar o mouse */
    }
}

@media (max-width: 480px) {
    header h1 { /* Estilos para o h1 em telas com largura máxima de 480px */
        font-size: 1rem; /* Reduz ainda mais o tamanho da fonte */
        max-width: 70%; /* Define uma largura máxima */
        word-wrap: break-word; /* Permite a quebra de palavras longas */
    }

    div input, /* Estilos para o input e seu placeholder em telas muito pequenas */
    div input::placeholder {
        font-size: 1rem; /* Reduz o tamanho da fonte */
    }

    article h2 { /* Estilos para o h2 do article em telas muito pequenas */
        font-size: 1.3rem; /* Reduz o tamanho da fonte */
    }

    div { /* Estilos para a div do cabeçalho em telas muito pequenas */
        display: flex; /* Habilita flexbox */
        align-items: center; /* Alinha itens ao centro */
        justify-content: center; /* Centraliza itens */
        flex-direction: column; /* Organiza em coluna */
        gap: 0.5rem; /* Espaçamento entre os itens */
    }

    .footer { /* Estilos para o rodapé em telas muito pequenas */
        display: none; /* Oculta o rodapé */
    }

    button { /* Estilos para o botão em telas muito pequenas */
        margin-top: 1rem; /* Adiciona margem no topo */
    }
}